.views-data-export-feed .feed-icon {
  
  overflow: hidden;
  text-indent: -9999px;
  display: block;
  width: 36px;
}
div.pdf-feed > a.feed-icon {
  background-image: url(../images/pdf.png);
  margin-inline: 5px;
  position: relative;
  left: 40px;
  top: -24px;
  display: block;
}

div.csv-feed > a.feed-icon {
  display: block;
}

